:root {
    /**
     * 注意，规则集所指定的选择器定义了自定义属性的可见作用域。通常的最佳实践是定义在根伪类 :root 下，这样就可以在HTML文档的任何地方访问到它了：
     */
    --primar-theme-color: #c23030;
    --primary--botton--bg: var(--primar-theme-color);
    --primary-text-color: var(--primar-theme-color);
    --primary-border-color: var(--primar-theme-color);
    --primary-font-size: 12px;
}
