html {
  min-height: 100%;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-family: Helvetica Neue, PingFang SC, Verdana, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

body {
  width: 100%;
}

body,
button,
input,
select,
textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica,
    sans-serif;
}

h1 {
  color: #404040;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-size: 28px;
  margin-top: 60px;
}
pre,
code {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.container {
  width: 680px;
  margin: 0 auto;
}
.orange {
  color: #fa8919;
}
img {
  max-width: 100%;
}
pre {
  padding: 0;
  color: #666;
  border: 1px solid #e6e8eb;
  border-radius: 3px;
  background: #f7f9fa;
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
}
video {
  max-width: 100%;
}