<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <textarea name="" id="commentTxt" cols="80" rows="10">
        <p>sks <img src="null" alt="" onerror="alert(1)"></p></textarea>

    <button type="button" name="button" id="commentBtn">评论</button>
    <button type="button" name="button" id="getComment">获取评论</button>
  </body>
  <script src="/js/encode.js" charset="utf-8"></script>
  <script src="/js/htmlParse.js" charset="utf-8"></script>
  <script type="text/javascript">
      var commentBtn = document.getElementById('commentBtn');
      var getComment = document.getElementById('getComment');
      var commentTxt = document.getElementById('commentTxt');

      function parse (str) {
          let results = '';
          try {
              // 反转义解码
              HTMLParser(he.unescape(str, { strict: true }), {
                  start: function (tag, attrs, unary) {
                      // 标签拦截
                      if (tag === 'script' || tag === 'img' || tag === 'style' || tag === 'link' || tag === 'iframe' || tag === 'frame') {
                          return;
                      }
                      results +='<' + tag;
                      // 属性拦截
                      for (let i =0;i<attrs.length;i++) {
                          results += " "+attrs[i].name + '="' + attrs[i].escaped + '"';
                      }
                      results +=(unary?"/":"") + ">";
                  },
                  end: function (tag) {
                      results +='<' + tag;
                  },
                  charts: function (text) {
                      results += text;
                  },
                  comment: function (text) {
                      // 注释部分
                      results += "<!--" + text + "-->";
                  }
              });
              return results;
          } catch (e) {
                console.log(e);
          }
      };

      commentBtn.addEventListener('click', function () {
          var xhr = new XMLHttpRequest();
          var url = '/comment?comment=' + commentTxt.value;
          xhr.open('GET', url, true);
          xhr.onreadystatechange = function() {
              if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                      console.log(xhr);
                  } else {
                      console.log('error');
                  }
              }
          };
          xhr.send();
      });

      getComment.addEventListener('click', function () {
          var xhr = new XMLHttpRequest();
          var url = '/getComment';
          xhr.open('GET', url, true);
          xhr.onreadystatechange = function() {
              if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                      // 解码和校验
                      // 解析服务端的响应内容（JSON字符串）
                      console.log(xhr.response);
                      let com = parse(JSON.parse(xhr.response).comment);
                      let txt = document.createElement('span');
                      txt.innerHTML = com;
                      document.body.appendChild(txt);
                  } else {
                      console.log('error');
                  }
              }
          };
          xhr.send();
      });

  </script>
</html>
